@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&family=Rufina:wght@400;700&display=swap');




/* font-family: 'Roboto', sans-serif;
font-family: 'Rufina', serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.main_head{
    display: flex;
    justify-content: space-between;
    height: 100px;
 
}


.logo img{
    height: 90px;
    width: 170px;
    margin-left: 50px;
    margin-top: 10px;

}


.navig ul{
    display: flex;
   justify-content: space-between;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;

}

.navig ul button{
    margin-left: 10px;
    padding: 7px 20px;
    background: none;
    position: relative;
    left: 5%;
    bottom: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.navig ul button:hover{
    background-color: rgb(0, 204, 255);
   box-shadow: 0 0 20px 10px rgba(0, 255, 255, 0.37);
}

.navig ul li a{
    color: #263a41;
    font-weight: 500;
    padding-left: 20px;
}



.banner_part{
    background-image: url(../img/Jumbotron.png);
   height: 600px;
   width: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   margin-top: 1%;
   background-attachment: fixed;
}



.trip{
    background-color: #0f172ad7;
    height: 420px;
    width: 700px;
    margin-top: 6%;
    margin-left: 8%;
    position: absolute;
}



.trip_pt_1{
    color: #fff;
    padding-left: 34px;
    padding-top: 24px;
}


.trip_pt_1 h3{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}


.trip_pt_1 p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}


.trip_pt_1 h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;

}


.trip_pt_1 span{
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
   
}

.trip_pt_1 input{
    height: 40px;
    padding: 0 37px;
    width: 250px;

}

.trip_pt_1 i{
    position: absolute;
    color: rgb(46, 44, 44);
    font-size: 21px;
    padding-top: 8px;
    padding-left: 12px;
    
   
}




.adult{
    display: flex;
}
.adult span{
    font-size: 17px;
}

.plus{
    height: 40px;
    width: 90px;
    background-color: #fff;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-left: 10px;
}



.plus pre{
    color: #222;
    text-align: center;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
}

.dt4{
    margin-top: 25px;
    padding: 14px 26px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #C8FF53;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.dt4:hover{
    box-shadow: 0 0 30px 10px blue;
}




.trip_main_pt{

    display: flex;
}







.trip_pt_2{
    color: #fff;
    padding-left: 34px;
    padding-top:16%;
}


.trip_pt_2 h3{
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}


.trip_pt_2  p{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}


.trip_pt_2  h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-bottom: 10px;

}


.trip_pt_2  span{
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
   
}

.trip_pt_2  input{
    height: 40px;
    padding: 0 37px;
    width: 250px;

}

.trip_pt_2  i{
    position: absolute;
    color: rgb(46, 44, 44);
    font-size: 21px;
    padding-top: 8px;
    padding-left: 12px;
    
   
}



.circ{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #C8FF53;

}
.circ i{
    text-align: center;
    padding-left: 12px;
    padding-top: 12px;
}

.trip_3{
    margin-top: 25%;
    margin-left: -2%;
}



.earn{
    height: 410px;
    width: 320px;
    background-color: #131f3aa8;
    margin-left: 70%;
 position: absolute;
 top: 31%;
 color: #fff;
}

.earn h3{
    font-size: 24px;
    padding-top: 30px;
    padding-left: 23px;
    font-family: 'Roboto', sans-serif;
}




.earn p{
    font-size: 29px;
    padding-top: 29px;
    padding-left: 23px;
    font-family: 'Roboto', sans-serif;
    width: 70%;
    font-weight: 500;

}

.earn h4{
    font-size: 22px;
    padding-top: 29px;
    padding-left: 23px;
    font-family: 'Roboto', sans-serif;
 
    font-weight: 500; 
}


.offer_part{
    height: 300px;
    width: 100%;
}

.offer_head{
    display: flex;
   gap: 2%;
   margin-top: 4%;
}


.offer_head i{
    font-size: 40px;
}

.offer_head h3{
    padding-top: 5px;
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

.offer_head button{
    margin-left: 60%;

    padding: 12px 34px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background-color: #E9E9F1;
    color: #0F172A;
    font-weight: 600;
}




.offer_cd{
    margin-top: 4%;
    display: flex;
    justify-content: space-between;
}

.offer_card_1{
    height: 350px;
    width: 350px;
    background-color: #193354;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    text-align: center;
    color: #fff;
}

.offer_card_1 img{
    height: 220px;
    width: 350px;
    border-radius: 30px 30px 0 0;
    -webkit-border-radius: 30px 30px 0 0;
    -moz-border-radius: 30px 30px 0 0;
    -ms-border-radius: 30px 30px 0 0;
    -o-border-radius: 30px 30px 0 0;
}

.offer_card_1 i{
    padding-top: 4%;
    padding-right: 5px;
    padding-bottom: 14px;    

}

.offer_card_1 h4{
    width: 60%;
    margin: 0 auto;
    line-height: 30px;
    font-weight: 500;
}


.why{
    display: flex;
    justify-content: space-between;
}

.seven{
    margin-top: 17%;
    height: 275px;
    width: 100%;
    background-color: #193354;
}

.seven h2{
    text-align: center;
    padding-top: 5%;
    color: #fff;
}


.cd_why_1{
    height: 100px;
    width: 350px;
    border-radius: 10px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    padding-top: 30px;
    margin-top: 3%;
}


.cd_why_1 i{
    font-size: 30px;
    position: relative;
    top: 5px;
    right: 35%;
    color: #193354;
}

.cd_why_1 span{
    position: relative;
    bottom: 29px;
    left: 10px;
    font-size: 17px;
    font-weight: 600;
    color: #193354;
}


.partner h2{
    text-align: center;
    margin-top: 4%;
    font-size: 27px;
    color: #193354;
}


.product_spon img{
    height: 220px;
    width: 100%;
    margin-top: 2%;
}

.service{
    background-image: url(../img/jordan-steranka-7KOFrPQwCPs-unsplash\ 2.png);
    height: 475px;
    width: 100%;
    background-repeat: no-repeat;
margin-top: 4%;
   
}

.ser_head{
    padding-top: 10%;
    display: flex;
   gap: 2%;
}

.ser_head i{
    font-size:37px;
    color: #193354;

}


.ser_head span{

    font-size: 27px;
    font-weight: 600;
    color: #193354;
}




.ser_head button{
    margin-left: 17%;
    padding: 10px 34px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: none;
    font-weight: 600;
}


.ser_per{
    padding-top: 5%;
    width: 60%;
    line-height: 29px;
    font-size: 20px;
    font-weight: 500;
    color: #193354;
}




.fotter_main{
    display: flex;
   gap: 7%;
   margin-left: 12%;
   margin-top: 2%;
}


.fotter_1 h4{
    font-size: 21px;
    color: #193354;
}

.fotter_1 h5{

    font-size: 14px;
    color: #193354; 
    padding-top: 2%;
    line-height: 20px;
}



.fotter_2 h4{
    font-size: 21px;
    color: #193354;
}

.fotter_2 h5{

    font-size: 14px;
    color: #193354; 
    padding-top: 2%;
    line-height: 20px;
}



.fotter_3 h4{
    font-size: 21px;
    color: #193354;
    padding-left: 10px;

}


.fotter_3 i{
    font-size: 22px;
    margin-top: 8%;
    padding-left: 10px;
    color: #8F8C8C;
}


.ender{
    margin-top: 6%;
    display: flex;
    justify-content: space-between;
}

.icons img{
    height: 90px;
    width: 170px;
    position: relative;
    bottom: 20px;
  
}

.copy p{
    margin-top: 30px;
    font-size: 17px;
}